nav
{
    background-color: black;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
nav li{
    display: inline-block;
}
nav li a
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 100 px;
    padding-right: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav li a:hover
{
    color: red;
}